<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Ignora os feeds privados configurados na máquina: este projeto só precisa do nuget.org. -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
